@import "tailwindcss";
@plugin '../lib/hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-carddark: var(--darkish);
  --color-cardmed: var(--cardmed);
  --color-cardbright: var(--cardbright);
  --color-contrast: var(--contrast);
  --color-brighter: var(--brighter);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c14;
    --foreground: #d2dbfb;

    --carddark: #303e68;
    --cardmed: #7482b3;
    --cardbright: #86a4d8;
    
    --contrast: #7D4E57;
    --brighter: #D66853;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
